/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;  
}
body{  
  background-color: #F8F8FA;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  background : linear-gradient( to bottom , #4516FE , #4A1CFD);
  z-index : -1 ;
}
.logo{
  margin-left: 30px ;
  margin-top: 40px;
}
.nav-bar {
  display: flex;
  margin-top: -30px;
  margin-bottom: 150px;
  margin-left : 1000px;  
  font-size: 13px;
  color: #ffffff;
  justify-content: space-between;
}
.nav-item-active {
  border: #ffffff 2px solid;
  border-radius: 3px;
  padding: 2px 10px ;
  background-color: #ffffff;
  color: #4516FE;
}
.nav-bar svg {
  display: flex;
  margin-top: 6px;
  margin-right: 15px;
  margin-left: -25px;
}
.header-text > img {
  margin-bottom: -30px;
}
.header-text{
  margin-left: 30px;
  margin-top: 100px;
  font-size: 30px;
  color: #ffffff;
}
.header-text p{
  margin-top: -20px;
  font-size: 20px;
}
.header-image {
  margin-left: 860px;
  margin-top: -380px;
  width: 650px;
}
.companies {
  margin-left: 30px;
  display: flex;
  text-decoration: none;
  margin-top: 650px;
  width: 700px;
  justify-content: space-between;
  font-family: "Poppins";
  font-size: 30px;
}
.company-items{
  font-family: "Righteous";
  color: black;
  text-decoration: none;
}
.api .api-heading{
  margin-left: 30px;
  font-size: 40px;
  margin-top: 100px;
}
.cards{
  justify-content: space-between;
  display: flex;
  margin-left: 30px;
  margin-top: 60px;
  margin-right: 200px;
  
}
.card-active{
  margin-top: -20px;
  padding: 25px 20px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px #000;
}
.blog-heading {
  margin-left: 30px;
  font-size: 20px;
}
.blog-cards{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 100px;
}
.blog-card {
  position: relative;
  display: flex;
  border-radius: 30px;
  margin-left: 50px;
}
.blog-card-bottom-image {
  position: absolute;
  left: 310px;
  top: 260px;
}
.blog-content {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
}
.blog-content h6 {
  margin-top: -10px;
  color: #5A31FC ;
}
.blog-author{
  position: absolute;
  width: 130px;
  top: 135px;
  left: 185px;
  font-size: 10px;
}
.faq-section{
  background-color: #E9EDFF;
  margin-top: 100px;
}
.faq-image{
  display: flex;
  position: absolute;
  left: 880px;
  top: 1800px;
  height: 350px;
}

.faq-content {
  margin-top: 130px;
  padding: 45px;
}
.faq-content h2 {
  margin-top: -30px;
  font-size: 40px;
}
.faq-content h4 {
  margin-top: -5px;
  font-size: 14px;
}
.faq-content button{
  border: none;
  background-color: #5A31FC;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
}
.download-content {
  margin-top: 120px;
  margin-left: 30px;
  font-weight: 500;
}
.download-email{
  margin-top: -70px;
  margin-left: 900px;
}
.download-email form button{
  position: relative;
  border: none;
  background-color: #5A31FC;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 80px;
  text-transform: uppercase;
}
form input {
  padding: 15px 150px;
  border: none;
  border-radius: 30px;
  background-color: #E9EDFF ;
}
::placeholder{
  color: black;
  position: absolute;
  left: 30px;
  font-size: 12px;
}

.footer-section{
  background-color: #4516FE;
  margin-top: 120px;
  padding-bottom: 100px;
}
.footer-left .footer-logo {
  margin-top: 60px;
  margin-left: 90px;
}
.footer-left .list {
  display: flex;
  list-style: none;
  column-gap: 50px;
  margin-left: 50px;
  font-size: 13px;
  color: #ffffff;

} 
.footer-right {
  margin-left: 600px;
  margin-top: -88px;

}
.footer-right .logos-list {
  display: flex;
  list-style: none;
  column-gap: 20px;
  font-size: 13px;
  margin-left: 550px;
  color: #ffffff;
}

@media screen and (max-width : 900px) {
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    background : linear-gradient( to bottom , #4516FE , #4A1CFD);
    z-index : -1 ;
  }
  .logo{
    display: block;
    margin: 0 auto;
    margin-top: 40px;   
  }
  .nav-bar {
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left : 0px;
    font-size: 13px;
    color: #ffffff;
    justify-content: space-around;
  }
  .nav-item-active {
    border: #ffffff 2px solid;
    border-radius: 3px;
    padding: 2px 10px ;
    background-color: #ffffff;
    color: #4516FE;
  }
  .nav-bar svg {
    display: none;   
  }
  .header-text > img {
    margin-bottom: 0px;
  }
  .header-text{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    color: #ffffff;    
  }
  .header-text p{
    margin-top: -20px;
    font-size: 20px;
  }
  .header-image {
    margin-left: 0px;
    margin-top: 0px;
    width: 350px;
  }
  .companies {
    position: relative;
    margin-left: 0px;
    display: flex;
    text-decoration: none;
    margin-top: 680px;
    width: auto;
    justify-content: space-between;
    font-family: "Poppins";
    font-size: 20px;
  }
  .company-items{
    font-family: "Righteous";
    color: black;
    text-decoration: none;
  }
  .api .api-heading{
    margin-left: 0px;
    font-size: 30px;
    margin-top: 40px;
  }
  .cards{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 60px;
    margin-right: 30px;
    
  }
  .card-active{
    margin-bottom: 20px;
    padding: 25px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px #000;
  }
  .blog-heading {
    margin-left: 0px;
    font-size: 20px;
    margin-bottom: -40px;
  }
  .blog-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    margin-left: 0px;
  }
  .blog-card {
    position: relative;
    display: flex;
    flex-direction: column;    
    border-radius: 30px;
    margin-left: 40px;
    margin-top: 80px;
  }
  .blog-card-bottom-image {
    position: relative;
    margin-top: 10px;
    left: 0px;
    top: 0px;
  }
  .blog-content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
  }
  .blog-content h6 {
    margin-top: -10px;
    color: #5A31FC ;
  }
  .blog-author{
    position: relative;   
    width: 80px;
    top: 0px;
    left: 45px;
    font-size: 10px;
  }
  .faq-section{
    background-color: #E9EDFF;
    margin-top: 100px;
  }
  .faq-image{
    display:none;   
  }
  
  .faq-content {
    margin-top: 130px;
    padding: 35px;
  }
  .faq-content h2 {
    margin-top: 0px;
  }
  .faq-content h4 {
    margin-top: 0px;
  }
  .faq-content button{
    border: none;
    background-color: #5A31FC;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .download-content {
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
    font-weight: 500;
  }
  .download-email{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
  }
  .download-email form button{
    position: relative;
    border: none;
    background-color: #5A31FC;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 80px;
    text-transform: uppercase;
  }
  form input {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #E9EDFF ;
  }
  ::placeholder{
    color: black;
    position: absolute;
    left: 30px;
    font-size: 12px;
  }
  
  .footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4516FE;
    margin-top: 70px;
    padding-bottom: 10px;
  }
  .footer-left .footer-logo {
    display: block;    
    margin: auto ;
    padding-top: 50px;

  }
  .footer-left .list {
    display: flex;
    text-align: center;
    flex-direction: column;
    list-style: none;
    margin-left: -30px;
    font-size: 13px;
    color: #ffffff;
  
  } 
  .footer-right {
    display: block;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
  
  }
  .footer-right .logos-list {
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 20px;
    font-size: 13px;
    margin-left: -30px;
    color: #ffffff;
  }
 }